cffi==1.14.5
fuzzywuzzy==0.18.0
numpy==1.20.3
pycparser==2.20
SoundCard==0.4.1
python-Levenshtein==0.12.2
prometheus-client==0.11.0
systemd==0.16.1
RPi.GPIO==0.7.0
smbus==1.1.post2
smbus2==0.4.1
colour==0.1.5

